  .carousel-inner img {
      width: 100%;
      max-height: 500px;
      margin-bottom: 50px;
  }

  #wrapper {
  	padding-top: 56px;
  }

.navbar {
	background: #000050!important;
}

.piks36 {
	font-size: 36px;
}

.piks24{
	font-size: 24px;
}